<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Image Detection</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="static/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="col-xs-8 text-right menu-1">
			<ul>
				<li class="active"><a href="/index">Classification</a></li>
            <li class="active"><a href="/index1">Detection</a></li>
				
			</ul>
		</div>
		
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(static/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">Welcome to Dashboard!</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Forgenic Detection </a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
										<p>Forgenic Detection </p>
				</div>
			</div>
			<div class="row">
    
            <form class="form-signin" action="/predict1" method=post enctype=multipart/form-data>
                <h1 class="h3 mb-3 font-weight-normal">Upload any image</h1>
                <input type="file" name="file" class="form-control-file" id="inputfile">
                <br/>
                <button style="width: 500px;" class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
                
            </form>
            <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script type="text/javascript">
            $('#inputfile').bind('change', function() {
                let fileSize = this.files[0].size/1024/1024; // this gives in MB
                if (fileSize > 10) {
                    $("#inputfile").val(null);
                    alert('file is too big. images more than 10MB are not allowed')
                    return
                }

                let ext = $('#inputfile').val().split('.').pop().toLowerCase();
                if($.inArray(ext, ['jpg','jpeg','png']) == -1) {
                    $("#inputfile").val(null);
                    alert('only jpeg/jpg files are allowed!');
                }
            });
            </script>
        </body>
        </html>

        <!DOCTYPE html>
        <html>


        <body>
        
            <div>
            
        <!--

        <img style="width: 350px;height: 350px;margin-left: 15%;margin-top: 10%;" src="{{ url_for('video') }}" />
-->    

        
</div>
</div>
</div>




<div class="gototop js-top">
<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="static/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="static/js/main.js"></script>

</body>
</html>